# Ignore node_modules directory
node_modules/

# Ignore build output directory
dist/

# Ignore environment variables
.env
.env.*

yarn.lock

# Ignore editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.tmproj
*.tmproj.loc
*.code-workspace

# Ignore other common files
*.log
*.key
*.pem
*.p12
*.crt
*.csr
*.srl
*.der
*.jks
*.pkcs12
*.pem
*.p7b
*.p8
*.p12.txt
*.pem.txt