// Add your SCSS code here
body {
  font-family: Roberto, sans-serif;
}

h1 {
  color: #333;
}

@keyframes grow_ai {
    from {
        transform: scale(0.7);
    }
    to {
        transform: scale(0.8);
    }
}
@keyframes grow_chat {
  from {
      transform: scale(0);
  }
  to {
      transform: scale(1);
  }
}

#ai_animation { 
    animation: grow_ai 4s ease-in-out infinite alternate;
}

.chat_enter {
    animation: grow_chat 0.2s ;
}
// ...