// Add your SCSS code here
body {
  font-family: Roberto, sans-serif;
}

h1 {
  color: #333;
}

@keyframes grow {
    from {
        transform: scale(0.7);
    }
    to {
        transform: scale(0.8);
    }
}

#ai_animation { 
    animation: grow 4s ease-in-out infinite alternate;
}
// ...